body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(212 236 221) 0%,
    rgb(52 91 99) 25%,
    rgb(21 45 53) 50%,
    rgb(17 32 49) 100%
  );
  animation-name: playback;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes playback {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
